* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.headerContainer {
    max-width: 900px;
    margin: 40px auto;
}

.headerContainer img {
    width: 200px;
}

.container {
    display: flex;
    max-width: 900px;
    margin: auto;
}

.container .leftSide {
    flex: 1;
    margin-right: 40px;
    padding: 10px;
}

.container .leftSide h1 {
    margin: 0;
    font-size: 40px;
    color: #3a4b5c;
    text-transform: uppercase;
}

.container .leftSide p {
    font-size: 16px;
    margin-bottom: 40px;
    color: #6a7d8d;
}

.container .leftSide input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    font-weight: bold;
}

.container .leftSide button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #3a4b5c;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.container .leftSide button:hover {
    background-color: #2a3b4c;
}

.container .rightSide {
    flex: 1;
    margin-left: 40px;
    padding: 10px;
}

.container .rightSide {
    flex: 1;
    display: flex;
    margin-left: 40px;
}

.container .rightSide .grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.container .rightSide .rightBig {
    flex: 1;
    display: flex;
}

@media screen and (max-width: 770px) {
    .headerContainer {
        margin: 20px;
    }

    .container {
        flex-direction: column;
    }

    .container .leftSide {
        margin-right: 0;
    }

    .container .rightSide {
        margin-left: 0;
    }

}

@media screen and (max-width: 500px) {
    .headerContainer img {
        width: 150px;
    }

    .container .leftSide h1 {
        font-size: 30px;
    }

    .container .leftSide p {
        font-size: 14px;
    }

    .container .leftSide input {
        font-size: 14px;
    }

    .container .leftSide button {
        font-size: 14px;
    }

    .container .rightSide .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .container .rightSide .rightBig {
        flex-direction: column;
    }
}